<!DOCTYPE html>
<html>
  <head>
    <title>欢迎使用NEM开发框架</title>
    <link rel='stylesheet' href='/css/lib/bootstrap.min.css' />
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/vue.js"></script>
  </head>
  <body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h2>NEM</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12"></div>
    </div>
  </div>
  </body>
</html>
